*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.scroll-btn {
    position: sticky;
    background-color: #0BF8FF;
    border: none;
    padding: 1.5rem;
    top: 70vh;
    float: right;
    border-radius: 60px;
    margin-right: 20px;
    font-family: poppins-bold;
}

@font-face {
    font-family: poppins-bolditalic;
    src: url(fonts/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: poppins-lightitalic;
    src: url(fonts/Poppins-LightItalic.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(fonts/Poppins-Regular.ttf);
}

.logo{
    color: #FFBF3A;
    background-color:#6700ee;
    text-align: left;
    font-family: poppins-bolditalic;
    font-size: 25px;
    line-height: 60px; /*Giver white space øverst */
    padding: 0 15px; /*white space fra siden*/
}

/* Styler navbar */
#navbar {
    background-color: #6700ee;
    overflow: hidden;
    position:fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding-left: 7%;
  }
  /* Navbar links */
#navbar a {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-family: poppins-lightitalic;
    float: left;
    text-decoration: underline;
  }

  #welcomesection {
    background-image: url("./img/mobilefirstsection.png");
    background-size: cover;
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
}

  .welcomeh2 {
    color: #FFBF3A;
    font-family: poppins-bold;
    text-align: center;
    font-size: 35px;
    line-height: 100px;
}

.meimg {
    height: 35%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;  
}

.welcomep {
    color: white;
    font-family: poppins-regular;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.7;
}

.graphic {
    height: 17%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 63px;
}


/*ANDEN SEKTION BEGYNDER*/

#grafiskdesignsection{
background-image: url("./img/mobilesecondsection.png");
background-size: cover;
height: 800px;
width: 100%;
background-repeat: no-repeat;
}

.grafiskdesignh2 {
    color: #6700ee;
    font-family: poppins-bold;
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
}

.grafiskdesignp {
   color: black;
   font-family: poppins-regular;
   text-align: left;
   margin-left: 15%;
   margin-right: 15%;
   line-height: 1.7;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.logoer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }

  .logoer img {
      width: auto;
      height: 150px;
  }
  

.blikfang {
    display: flex;
    justify-content: center;
}

.blikfang img{
    height: 270px;
    margin-top: 20px;
    
}


/*TREDJE SECTION BEGYNDER*/

#videosection {
    background-image: url("./img/mobilethirdsection.png");
    background-size: cover;
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
}

.videoh2 {
    color: #F9F871;
    font-family: poppins-bold;
    text-align: center;
    font-size: 35px;
    line-height: 100px;
}

.videop {
    color:white;
    font-family: poppins-regular;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.7;
 }

 .youtubevideo {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 10%;
 }
 
 iframe {
     border: none;

 }

.youtubevideo iframe {
    width: 320px; 
    height: 180px;
}


 /*FJERDE SECTION BEGYNDER*/

 #webdesignsection {
    background-image: url("./img/mobilefourthsection.png");
    background-size: cover;
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
}

.webdesignh2 {
    color: #FF0075;
    font-family: poppins-bold;
    text-align: center;
    font-size: 35px;
    line-height: 100px;
}

.webdesignp {
    color:#000000;
    font-family: poppins-regular;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.7;
 }


 .hjemmesidedesign {
    display: flex;
    justify-content: center;
    height: 320px;
    margin-top: 20px;
 }

 .wireframes {
    display: flex;
    justify-content: center;
    height: 172px;
    margin-top: 20px;
 }

 /* SIDSTE SECTION STARTER*/

 #kontaktsection {
    background-image: url("./img/mobilelastsection.png");
    background-size: cover;
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
}

.kontakth2 {
    color: #FFBF3A;
    font-family: poppins-bold;
    text-align: center;
    font-size: 35px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.kontaktp {
    color:#ffffff;
    font-family: poppins-regular;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.7;
 }

.infotext {
    color:#ffffff;
    font-family: poppins-regular;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 4;
 }

.linkedin {
    color: white;
    text-decoration: underline;
    
}

@media (min-width: 600px) {
    
    #navbar a{
        margin: 6px;
        font-size: 24px;
    }
    
    .scroll-btn{
        padding: 2.2rem;
        top: 60vh;
        margin-right: 35px;
    }

    
    .logo {
        font-size: 40px;
        padding: 10px;
    }
    #welcomesection{
        height: 1300px;
    }
    .welcomeh2{
        font-size: 50px;
    }
    .meimg{
         width: 350px;
        height: auto;
    }
    .welcomep{
        font-size: 20px;
    }

    #grafiskdesignsection{
        height: 1300px;
    }
    .grafiskdesignh2{
        padding-top: 50px;
        font-size: 50px;
    }

    .grafiskdesignp{
        font-size: 20px;
    }

    .logoer img{
        width: 270px;
        height: auto;
    }

    .blikfang img{
        width: 400px;
        height: auto;
    }   

    #videosection{
        height: 800px;
        
    }
    .videoh2{
        font-size: 50px;
    }

    .videop{
        font-size: 20px;
    }

    .youtubevideo iframe{
        width: 500px;
        height: 300px;
    }

    #webdesignsection{
        height: 1100px;
    }

    .webdesignh2{
        padding-top: 50px;
        font-size: 50px;
    }
    .webdesignp{
        font-size: 20px;
    }
    .hjemmesidedesign img{
        width: 450px;
        height: auto;
    }
    .wireframes img{
        height: 255px;
    }

    .kontakth2{
        font-size: 50px;
    }
    .kontaktp{
        font-size: 20px;
    }
    .infotext{
        font-size: 20px;
    }
}
    @media (min-width: 1100px) {
        #welcomesection{
            background-image: url("./img/firstsection.png");
            height: 900px;
        }

        .scroll-btn{
            top: 85vh;
        }
    
        .logo{
            text-align: center;
            font-size: 70px;
            padding: 40px;
        }

        #navbar {
            position: sticky;
            top: 0;
            bottom: auto;
        }
        #navbar a{
            padding-left: 60px;
        }

        .welcomeh2 {
            font-size: 90px;
            text-align: left;
            margin-left: 220px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .meimg{
            float: right;
            margin-right: 300px;
            padding-top: 50px;
        }

        .welcomep{
            font-size: 25px;
            margin-right: 700px;
            padding-top: 40px;
        }

        .graphic{
            padding-top: 20px;
        }

        #grafiskdesignsection{
            background-image: url("./img/secondsection.png");
            height: 900px;
        }

        .grafiskdesignh2{
            font-size: 90px;
            text-align: right;
            padding-right: 200px;
        }

        .grafiskdesignp{
            font-size: 25px;
            margin-left: 650px;
            padding-top: 40px;
        }

        .blikfang{
            float: left;
            margin-top: -560px;
            padding-left: 100px;
        }

        .logoer{
            padding-left: 120px;
        }

        #videosection{
            background-image: url("./img/thirdsection.png");
            height: 909px;
        }

        .videoh2{
            font-size: 90px;
            text-align: left;
            padding-left: 300px;
            padding-top: 50px;
        }
        .videop{
            font-size: 25px;
            margin-right: 650px;
            padding-top: 40px;
        }

        .youtubevideo iframe{
            width: 800px;
            height: 500px;
            margin-top: -120px;
            margin-left: 200px;
        }

        #webdesignsection{
            background-image: url("./img/fourthsection.png");
            height: 900px;
        }

        .webdesignh2{
            font-size: 90px;
            text-align: right;
            padding-right: 300px;
        }

        .webdesignp{
            font-size: 25px;
            margin-left: 650px;
            padding-top: 40px;
        }

        .hjemmesidedesign{
            float: left;
            padding-left: 300px;
            margin-top: 50px;
        }
        
        .wireframes{
            margin-top: 50px;
            padding-right: 100px;
        }
        .wireframes img{
            width: 500px;
            height: 320px;
        }
        #kontaktsection{
            background-image: url("./img/lastsection.png");
            height: 900px;
        }

        .kontakth2{
            font-size: 90px;
            text-align: left;
            padding-left: 400px;

        }

        .kontaktp{
            font-size: 25px;
            margin-left: 300px;
            margin-right: 600px;
            margin-top: 10px;
        }

        .infotext{
            font-size: 25px;
            margin-left: 300px;
            margin-right: 600px;
        }

    }
